.name-field {
  width: 200px;
  margin: 5px;
}

.description-field {
  width: 400px;
  margin: 5px;
}

.success {
  background-color: lightgreen;
}

.error {
  background-color: pink;
}

.tagList {
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}