<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Recipe Planner</title>

<link rel="stylesheet" type="text/css"  href="/thirdparty/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"  href="/thirdparty/jqueryui/jquery-ui.min.css">
<link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">
<script src="/thirdparty/jquery/jquery.min.js"></script>
<script src="/thirdparty/knockout/knockout.js"></script>
<script src="/thirdparty/jqueryui/jquery-ui.min.js"></script>
<script src="/thirdparty/bootstrap/js/bootstrap.min.js"></script>
<script src="thirdparty/touch-punch/jquery.ui.touch-punch.min.js"></script>

<style>
    body    { padding-top:50px; }
</style>

</head>
<body class="container">
    <header id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img src="/images/recipe.png" style="background: transparent; float: left; padding: 0px 5px 0px 5px"/>
            <span class="navbar-brand">Recipe Planner</span>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="<%= activeView == 'upcoming' ? 'active' : '' %>"><a href="/">Upcoming</a></li>
              <li class="<%= activeView == 'plan' ? 'active' : '' %>"><a href="/plan">Make a Plan</a></li>
              <!-- <li><a href="/users">Recipes</a></li> -->
              <!-- <li><a href="#contact">Schedules</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
  </header>
