<% include /partials/header %>

    <main>
        <div class="alert alert-danger" role="alert">
            <ul>
              <li>An error has occurred</li>
              <li>Please report it to Tyler</li>
            </ul>
        </div>
        <p><%= message %></p>
    </main>

<% include /partials/footer %>
