<% include ../views/partials/header %>

    <main>
        <div class="jumbotron">
            <h1>Upcoming Meals</h1>
            <p>Meals this week</p>
        </div>
    </main>

<% include ../views/partials/footer %>
