<% include ../views/partials/header %>
<script src="/generated/js/plan/plan-view-model.js"></script>
<script src="/generated/js/plan/day-of-week.js"></script>

<link href="/stylesheets/plan.css" rel="stylesheet" type="text/css">
<div>
  <h1>Meal Planning</h1>
</div>
<div class="container">
  <span class="col-xs-2">
    <h3>Tags
      <span class="badge" data-bind="text: $root.numberOfUnselectedTags()"></span>
    </h3>
    <div class="list group" data-bind="foreach: $root.uniqueTags">
      <span class="list-group-item clickable" data-bind="visible: $data.visible, text: $data.Name, click: function(){$root.selectTag($data)}"></span>
    </div>
  </span>
  <span class="col-xs-8">
    <div>
      <div style="margin-top: 20px;">
        <span>Filters</span>
        <a data-bind="click: $root.resetFilters, visible: $root.selectedTags().length > 0" href="#" style="padding-left: 10px;">Reset</a>
      </div>
      <div class="no-results" data-bind="visible: $root.selectedTags().length === 0" style="margin-bottom: 10px;">No filters applied</div>
      <div data-bind="foreach: $root.selectedTags">
        <span class="selected-tag" data-bind="text: $data.Name, click: function(){$root.deselectTag($data)}"></span>
      </div>
    </div>
  </span>
<!-- <span class="col-xs-10">
    <div style="margin-top: 20px; margin-bottom: 10px;">Search</div>
  </span> -->
  <span class="col-xs-8">
    <h3>Results
      <span class="badge" data-bind="text: $root.filteredRecipes().length"></span>
    </h3>
    <div class="no-results" data-bind="visible: $root.filteredRecipes().length === 0" style="margin-top: 20px; margin-bottom: 10px;">No results found</div>
    <div class="list-group recipeList" data-bind="foreach: $root.filteredRecipes">
      <div class="list-group-item" data-bind="click: function(){$root.toggleRecipeDetails($data)}">
        <span class="recipe" data-bind="text: $data.Name, attr: {'data-id': $data.Id}" style="font-weight: bold;"></span>
        <p data-bind="visible: $data.expanded, text: $data.Description"/></div>
    </div>
  </span>
  <span class="col-xs-2">
    <h3>
      Schedule</h3>
    <div class="list-group" data-bind="foreach: $root.daysOfWeek">
      <div data-bind="id: $data.name, text: $data.name" class="list-group-item dayOfWeek">
        
      </div>
    </div>
  </span>
</div>
<% include ../views/partials/footer %>
